.sticked {
    background: #ffffff;
    transition: all 0.5s;
    z-index: 997;
    box-shadow: 0 2px 20px rgba(1, 41, 112, 0.1);
}

.navbar-brand{
    font-size: 32px !important;
    font-weight: 300;
    color: #485664 !important;
}

.navbar a.nav-link {
    padding: 14px 20px;
    font-size: 16px;
    font-weight: 400;
    color: rgba(58, 71, 83,.7);
    white-space: nowrap;
    transition: .3s;
    position: relative;
    cursor: pointer;
}